<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
  <div class="tx-slub-zotero-collections">
    <f:if condition="{settings.zotero.tableOfContents} == 1">
      <f:then>
        <h3 class="tx-slub-zotero-collection-toc"><f:translate key="tableOfContents" /></h3>
        <ul class="toc">
          <f:for each="{collections}" as="collection" iteration="collectionIterator">
            <f:if condition="{collection.data.title}">
              <li><f:link.page section="{collectionIterator.cycle}">{collection.data.title}</f:link.page></li>
            </f:if>
          </f:for>
        </ul>
      </f:then>
      <f:else>
        <f:for each="{collections}" as="collection" iteration="collectionIterator">
          <f:if condition="{collection.data.title}">
            <h3 class="tx-slub-zotero-collection-title" id="c{collectionIterator.cycle}">{collection.data.title}</h3>
          </f:if>
          <f:if condition="{collection.items}">
            <f:then>
              <f:for each="{collection.items}" as="item">
                <f:render partial="Bibliografie/Item" section="Item" arguments="{item: item}" />
              </f:for>
            </f:then>
            <f:else>
              {collection.data.name} : <button data-target="{collection.key}" class="openitems" data-ajaxurl="{f:uri.action(action: 'show', pageType: '6452187564', controller: 'Bibliografie', arguments: {collection:collection.key})}"><f:translate key="LLL:EXT:slub_zotero/Resources/Private/Language/locallang.xlf:show.creations" /></button>
              <div id="{collection.key}"></div>
            </f:else>
          </f:if>
        </f:for>
      </f:else>
    </f:if>
  </div>
</f:section>
</html>
