<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<p class="headline">{headline} für das Jahr {yearKey.year}</p>

<f:flashMessages />
<f:render partial="Bibliografie/Properties" arguments="{bibliografie:bibliografie}" />

<f:for each="{subCollection}" as="presentationValue" key="presentationKey">
    <div class="bib-item">
        <f:for each="{presentationValue}" as="subItemValue" key="subItemKey">

            <div class="citation"><code title="citation"> <f:format.raw>{subItemValue.citation}</f:format.raw> </code> <output></output></div>

            <f:if condition="{subItemValue.data.doi}">
                <f:then>
                    <div class="link"><f:link.external uri="{subItemValue.data.doi}" class="extern" target="_blank">{subItemValue.key}</f:link.external></div>
                </f:then>
                <f:else>
                    <f:if condition="{subItemValue.data.url}">
                        <f:then>
                            <div class="link"><f:link.external uri="{subItemValue.data.url}" class="extern" target="_blank">Link</f:link.external></div>
                        </f:then>
                    </f:if>
                </f:else>
            </f:if>

            <f:if condition="{subItemValue.data.abstractNote}">
                <f:then>
                    <button onclick="toggleAbstract('{subItemValue.key}')">abstract</button>
                    <div id="{subItemValue.key}" class="abstract">{subItemValue.data.abstractNote}</div>
                </f:then>
            </f:if>

            <br />
        </f:for>
    </div>
</f:for>

<f:link.action action="list">Zurück zur Übersicht</f:link.action><br />

</f:section>
</html>
