div.tx-slub-zotero div.bib-item {
    font-family: VistaSlabReg,Arial,Helvetica,Sans-Serif;
    margin-bottom: 20px;
}

div.tx-slub-zotero div.bib-item div.abstract {
    display: none;
    margin: 10px 30px;
    border-width: 1px;
    border-style: solid;
    border-color: silver;
    border-image: initial;
    border-radius: 5px;
    padding: 10px;
}

div.tx-slub-zotero div.bib-item div.blink a {
    border: 1px solid silver;
    padding: 0 5px;
    background-color: #d5d5d5;
    border-radius: 3px;
    position: relative;
    top: 3px;
}

div.tx-slub-zotero ul.toc li {
    display: inline-block;
    background: #d5ebef;
    color: #167;
    margin: 2px;
    padding: 8px 18px 5px 17px;
    border: 1px solid #acc;
    border-bottom-width: 2px;
}

div.tx-slub-zotero ul.toc li a {
    text-decoration: none;
}
