div.tx-slub-zotero div.abstract {
        display: none;
    }

div.tx-slub-zotero div.citation {
        font-family: VistaSlabReg,Arial,Helvetica,Sans-Serif;
    }

div.tx-slub-zotero div.bib-item {
        margin-bottom: 20px;
    }
